<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finance.loanmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Android 13+ (API 33+) 使用细分媒体权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    
    <!-- Android 12 及以下使用传统存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanManager"
        android:name=".LoanManagerApplication">
        
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LoanManager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.loan.AddLoanActivity"
            android:label="@string/add_loan"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <activity
            android:name=".ui.loan.LoanListActivity"
            android:label="@string/loan_list"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <activity
            android:name=".ui.loan.LoanDetailActivity"
            android:label="@string/loan_detail"
            android:parentActivityName=".ui.loan.LoanListActivity" />
        
        <activity
            android:name=".ui.schedule.PaymentScheduleActivity"
            android:label="@string/payment_schedule"
            android:parentActivityName=".ui.loan.LoanDetailActivity" />
        
        <activity
            android:name=".ui.monthly.MonthlyTotalActivity"
            android:label="@string/monthly_total"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <activity
            android:name=".ui.data.DataManagementActivity"
            android:label="@string/data_management"
            android:parentActivityName=".ui.main.MainActivity" />
            
    </application>

</manifest>
